<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap com uap3 desktop">

  <Identity
    Name="ce99e97c-abb4-4ba5-af33-b27ebfce1587"
    Publisher="CN=jdwis"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ce99e97c-abb4-4ba5-af33-b27ebfce1587" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>SimpleNetHostApp</DisplayName>
    <PublisherDisplayName>jdwis</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="SimpleNetHostApp"
        Description="SimpleNetHostApp"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
        <Extensions>
            <uap3:Extension Category="windows.appExtension">
                <uap3:AppExtension Name="com.microsoft.windows.app2app"
                                    Id="geolocation"
                                    DisplayName="Gets current system geolocation"
                                    Description="Returns the system's current position"
                                    PublicFolder="Public">
                    <uap3:Properties>
                        <Activation>
                            <!-- The COM server ID goes here. -->
                            <ClassId>fc9a6ed4-9c4a-42b7-a98d-b7b75f529bcd</ClassId>
                        </Activation>
                    </uap3:Properties>
                </uap3:AppExtension>
            </uap3:Extension>
            <com:Extension Category="windows.comServer">
                <com:ComServer>
                    <!-- The COM server ID from above goes here -->
                    <com:ExeServer Executable="SimpleNetHostApp.exe" DisplayName="SimpleNetHosApp" Arguments="-App2AppProvider">
                        <com:Class Id="fc9a6ed4-9c4a-42b7-a98d-b7b75f529bcd"/>
                    </com:ExeServer>
                </com:ComServer>
            </com:Extension>
            <uap3:Extension Category="windows.appExtension">
                <uap3:AppExtension Name="com.microsoft.windows.app2app"
                                    Id="localinfo"
                                    DisplayName="Contoso LocalInfo"
                                    Description="Returns some information about the local system"
                                    PublicFolder="Public">
                    <uap3:Properties>
                        <Activation>
                            <AppExecAlias Executable="SimpleNetHostApp.exe" Arguments="-request"/>
                        </Activation>
                    </uap3:Properties>
                </uap3:AppExtension>
            </uap3:Extension>
            <uap3:Extension Category="windows.appExecutionAlias" Executable="SimpleNetHostApp.exe" EntryPoint="Windows.FullTrustApplication">
                <uap3:AppExecutionAlias>
                    <desktop:ExecutionAlias Alias="SimpleNetHostApp.exe" />
                </uap3:AppExecutionAlias>
            </uap3:Extension>
        </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
